@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr, 1.5fr, 1.2fr, 0.8fr;
    grid-template-areas:
    "nav nav nav nav"
    "sb main main main"
    "sb c1 c2 c3"
    "sb f f f";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    color: #004d40
}

.nav{
    grid-area: nav;
    background-color: #A8FEEB;
    padding: 5px;
}

.main{
    grid-area: main;
    background-color: #84FEFF;
    padding: 5px;
}

.sidebar{
    grid-area: sb;
    background-color: #17FFFF;
    padding: 5px;
}

.content1{
    grid-area: c1;
    background-color: #70FFD3;
    padding: 5px;
}

.content2{
    grid-area: c2;
    background-color: #64FFDB;
    padding: 5px;
}

.content3{
    grid-area: c3;
    background-color: #73FEBA;
    padding: 5px;
}

.footer{
    grid-area: f;
    background-color: #1DE9B6;
    padding: 5px;
}

@media screen and (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sb"
        "main"
        "c1"
        "c2"
        "c3"
        "f";

    }
}